{% extends 'Pymes/base.html' %} {% load static %} {% block content %}
<div class="jumbotron">
    <div>
        <h1>Encuentra tu tienda favorita</h1>
    </div>
    <div>
        {% for pyme in pymes %}
        <div class="card" style="height: 300px;">
            <div>
                <a href="{% url 'Pymes' pyme.id %}">
                    <img src="/static/img/{{ pyme.img }} " style="width: 250px; height: 250px;" alt="panaderia" title="{{ pyme.descripcion }}">
                </a>
            </div>
            <div>
                <div>
                    <p>{{ pyme.nombre }} </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


{% endblock content %}