{% extends 'Pymes/base.html' %} 

{% block titulo_principal %} Listar Categorías {% endblock %}

{% block content %}
   {% if object_list %}
<table class="table table-sm table-dark">
    <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
            </tr>
    </thead>
    <tbody>
        {% for cat in object_list %}
        <tr>
            <td>{{ cat.nombre }}</td>
            <td>{{ cat.descripcion }}</td>
            <td>
                    <a class="btn btn-primary" href="{% url 'edit_cat' cat.id %}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{% url 'del_cat' cat.id %}"><i class="fas fa-trash"></i></a>
            </td>  
        </tr>
    {% endfor %}
        <tr>
            <td>
            <a class="btn btn-primary" href="{% url 'add_cat' %}">Añadir Categoria</a>
            </td>
        </tr>
  </tbody>
</table>      
        
    {% else %}
        <h1>No hay registros de carrera</h1>
    {% endif %}
        
    
{% endblock %}