{% extends 'Pymes/base.html' %} 

{% block titulo_principal %} CRUD: Select * {% endblock %}

{% block content %}
   {% if object_list %}
        {% for cat in object_list %}
            <p>Nombre: {{ cat.nombre }}</p>
            <p>Descripcion: {{ cat.descripcion }}</p>          
            <td>
                <a class="btn btn-primary" href="{% url 'edit_cat' cat.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'del_cat' cat.id %}">Eliminar</a>
            </td>           
            <br>
        {% endfor %}
        
    {% else %}
        <h1>No hay registros de carrera</h1>
    {% endif %}
        
    <a class="btn btn-primary" href="{% url 'add_cat' %}">Añadir Categoria</a>
{% endblock %}