{% extends 'Pymes/base.html' %} 

{% block titulo_pagina %} Produtos - uPymer {% endblock %}
{% block titulo_principal %} Productos {% endblock %}

{% block content %}
   {% if object_list %}
   {% if user.is_superuser %}
<table class="table table-sm table-dark">
    <thead>
            <tr>
                <th scope="col">Imágenes</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Pyme</th>
            </tr>
    </thead>
    <tbody>
        {% for prod in object_list %}

        <tr>
             <td><img src= /static/img/{{ prod.img }} style="width: 100px;"/> </td>
            <td>{{ prod.nombre }}</td>
            <td>{{ prod.descripcion}}</td>
            <td>{{ prod.precio}}</td>
            <td>{{ prod.pyme}}</td>
            <td>
                    <a class="btn btn-primary" href="{% url 'edit_producto' prod.id %}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{% url 'del_producto' prod.id %}"><i class="fas fa-trash"></i></a>
            </td>  

        </tr>

    {% endfor %}
        <tr>
            <td>
            <a class="btn btn-primary" href="{% url 'add_producto' %}"><i class="fas fa-plus"></i></a>
            </td>
        </tr>
  </tbody>
</table>      
        
    {% else %}
        <h1>No hay registros de productos</h1>
    {% endif %}
        
{% else %}
            <h1>No puedes acceder a esta página</h1>
{% endif %}
    
{% endblock %}