 {% extends 'Pymes/base.html' %} {% load static %} {% block content %}

<!--Acerca de nosotros-->


<div class="tienda" style="background-image: url(/static/img/{{ pymes.img }} ); ">
    <h1>{{ pymes.nombre }}</h1>
    <p>{{ pymes.descripcion }}</p>
</div>



<!--Listar productos-->
<div class="jumbotron ">
    <h1>Nuestros Productos</h1>
    <div>
        {% for prod in prod %}

        <div class="card">

            <div>
                <img src="/static/img/{{ prod.img }} " style="width: 250px; height: 250px " title="{{ prod.descripcion }} ">
            </div>
            <div>
                <div>
                    <h3>{{ prod.nombre }}</h3>
                </div>
                <div>
                    <p> ${{ prod.precio }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}