 {% extends 'Pymes/base.html' %} {% load static %} {% block content %}

<!--Acerca de nosotros-->


<div class="jumbotron">
    <h1>{{ pymes.nombre }}</h1>
    <div>
        <div>
            <p>{{ pymes.descripcion }}</p>
        </div>


        <img src=/static/img/{{ pymes.img }} style="width: 30%;">

    </div>
</div>



<!--Listar productos-->
<div class="jumbotron">
    <h1>Nuestros Productos</h1>
    <div>
        {% for prod in prod %}

        <div class="card">
            <img src="/static/img/{{ prod.img }} " style="width: 100%; height: 100%" title="{{ prod.descripcion }}">
            <div>
                <div>
                    <p>{{ prod.nombre }} - ${{ prod.precio }}</p>

                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>



{% endblock %}