{% extends 'Pymes/base.html' %} 
{% block titulo_pagina %} Eliminar Producto - uPymer {% endblock %}
{% block titulo_principal %} Eliminar Producto {% endblock %}
{% block content %}
{% if user.is_superuser %}
    <div class="jumbotron">
        <form method="post">
            {% csrf_token %}

            <p class="delete-msg">¿Estás seguro de que quieres eliminar {{ object.nombre }}?</p>

            <a href="{% url 'listar_cat' %}" class="btn btn-secondary">NO</a>
            <button class="btn btn-primary" type="submit">Si</button>
        </form>
    </div>

    {% else %}
            <h1>No puedes acceder a esta página</h1>
{% endif %}
{% endblock %}