{% extends 'Pymes/base.html' %} {% load static %} {% block content %}

<div class="jumbotron">
    <h1>Resultados de búsqueda</h1>
    <h2> Tiendas </h2>
    <div>
        {% for pyme in object_list %}

        <div class="card" style="height: 300px;">
            <a href="{% url 'Pymes' pyme.id %}">
                <img src="/static/img/{{ pyme.img }} " style="width: 250px; height: 250px" alt="panaderia" title="{{ pyme.descripcion }}">
            </a>
            <div>
                <div>
                    <p>{{ pyme.nombre }} </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>

{% endblock content %}