#loginCon{
  background-color: 262626 ;
  display: grid;
  height: 400px;
  width: 400px;
  align-content: center;
  justify-content: center;

}

.loginCon{
  margin-right: 500px;
  margin-top: 100px;
  border-radius: 2%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;

}

#correo{
  margin-left: 56px;
}

#id_txtRut{
  margin-left: 80px;
}
#telefono{
  margin-left: 43px;
}

#registrarse{
  margin-left: 40px;
  width: 250px;

}

#iniciar{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  font-size: 30px;
}





#loginLabel, #contrLabel, #teleLabel, #rutLabel{
  color: aliceblue;

}



.contenido{

    background: rgb(197,40,61);
    background: linear-gradient(90deg, rgba(197,40,61,1) 0%, rgba(11,29,81,1) 57%, rgba(8,122,237,1) 100%);
    width: auto;
    height: 607px;
}

@media only screen and (max-width: 991px){
  

  #loginLabel,#contrLabel,#teleLabel, #rutLabel{
    display: none;
    
  }

  #correo,#txtPass,#telefono,#id_txtRut{
    margin-left: 0px;
  }

}
