<!-- base.html -->
{% load static %}
<html>
{% load pwa %}
{% progressive_web_app_meta %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>{% block title %} home {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'js/script.js' %}">

</head>

<body>
    <!-- Cabezera -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark id="navbar">
            <a class="navbar-brand" href="#"><img src="{% static 'img/1.jpeg' %}" width="45" height="45" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#footer">Contacto</a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'categorias' %}">Categorías</a>

                    </li>
                </ul>
                <button type="button" onclick="openNav()" id="botonBuscarpymes" class="btn btn-primary btn-m mr-5">Buscar
                    Tiendas</button> {% if not user.is_authenticated %}
                <button type="button" onClick="window.location='{% url 'login' %}'" class="btn btn-outline-primary" id="loginHref">Iniciar Sesión</button>

                <form class="form-inline my-2 my-lg-0">
                    {% endif %} {% if user.is_authenticated %}

                    <div style="background-color: white; margin-right: 20px; border-radius: 4px; width: 150px ;height: 35px; margin-top: 4px; margin-bottom: 4px;">
                        <img src="{%static 'img/usuario.png'%}" width="28" style="margin-top: 4px; margin-left: 4px;" alt="usuario">
                        <span class="ml-2 mr-4 md-5 mt-2" style="color: black;"><strong>

                                {{ user.get_username }}</strong>
                        </span>



                    </div>
                    <li class="btn btn-light"><a href="{% url 'logout' %}">Cerrar sesión</a></li>

                    {% endif %}
                </form>
            </div>
        </nav>

        <div>
            <!-- The overlay -->
            <div id="myNav" class="overlay mt-5">

                <!-- Button to close the overlay navigation -->
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                <!-- Overlay content -->
                <div class="overlay-content" id="telon">

                    <form action="{% url 'search_results' %}" method="get">
                        <div class="input-group mb-3">
                            <input name="q" type="text" placeholder="Buscar Pymes" class="form-control" aria-describedby="button-addon2" aria-label="Buscar">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>


        </div>

        <!-- script cortina boton buscar pymes-->

        <script src="{% static 'js/cortina.js' %}"></script>


    </header>
    
    {% block content %}
    
    {% endblock %}






</body>

</html>