{% extends 'base.html' %}
<!-- home.html -->
{% block title %}Home Page{% endblock title %}

{% block content %} 
    <h2>Home</h2>
    {% if user.is_authenticated %}
        <p>You are welcome on Home Page</p>
        <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
        <p>Your email is - {{user.email}}</p>
        <br><br>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    {% if user.is_superuser %}
    
    <nav class="nav flex-column navbar-inverse">
    <a class="nav-link active" href="{% url 'listar_producto' %}">Categorías</a>
    <a class="nav-link" href="{% url 'listar_pyme' %}">Pymes</a>
    <a class="nav-link" href="{% url 'listar_producto' %}">Productos</a>
    <a class="nav-link" href="{% url 'list_user' %}">Usuarios</a>
    </nav>
    
    {% endif %}
{% endblock content %}

